<%- include("partials/header.ejs") -%>
<h1>Home</h1>

<p><%= homeStartingContent %></p>

<% %> <% data.forEach(element => { %>

<h1><%= element.title %></h1>
<p>
  <%=element.postContent.substring(0, 100) + '...' %><a
    href="/posts/<%= element._id %>"
    >Read more</a
  >
</p>

<% }); %> <%- include("partials/footer.ejs") -%>
